<a href="https://colab.research.google.com/github/RemyaRS/Feature-Engineering/blob/main/Handling_Missing_Values_using_forward_fill%2C_backward_fill%2C_interpolate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import warnings
# Filter warnings
warnings.filterwarnings('ignore')

#Using google drive to import dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Importing dataset from google drive

Source : https://github.com/RemyaRS/Feature-Engineering

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/weather_dataset.csv")

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow
3  1/6/2017          NaN        7.0    NaN
4  1/7/2017         32.0        NaN   Rain

#Finding details about the dataset
First five rows of dataset

In [ ]:
data.head()

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow
3  1/6/2017          NaN        7.0    NaN
4  1/7/2017         32.0        NaN   Rain

Finding number of rows and columns in a dataset

In [ ]:
data.shape

(9, 4)

This shows that 


*   Number of rows in the dataset = 9     &
*   Number of columns in the dataset = 4

Finding names of columns

In [ ]:
data.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

Finding datatypes of each column data

In [ ]:
data.dtypes

day             object
temperature    float64
windspeed      float64
event           object
dtype: object

In [ ]:
type(data.day[0])

str

Datatype of day should be date

In [ ]:
data['day']= pd.to_datetime(data['day'])

In [ ]:
data.dtypes

day            datetime64[ns]
temperature           float64
windspeed             float64
event                  object
dtype: object

We can make this day as index of the dataset

In [ ]:
data.set_index('day', inplace = True)
#or simply write : data = data.set_index('day')

In [ ]:
data

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

#Handling Missing Values

Drop rows that have no values for all columns

In [ ]:
new_data = data.dropna(how='all')
new_data

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

But if we are eliminating rows having any missing value the dataset would be:

In [ ]:
small_data = data.dropna(how='any')
small_data

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

Above dataset became very small, on deleting all rows having any missing values
 
Its not at all reliable to do so in case of a small dataset

Using forward fill

In [ ]:
new_data1= new_data.fillna(method='ffill')
new_data1

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         32.0        9.0   Sunny
2017-01-05         28.0        9.0    Snow
2017-01-06         28.0        7.0    Snow
2017-01-07         32.0        7.0    Rain
2017-01-08         32.0        7.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

Using backward fill

In [ ]:
new_data2= new_data.fillna(method='bfill')
new_data2

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         28.0        9.0   Sunny
2017-01-05         28.0        7.0    Snow
2017-01-06         32.0        7.0    Rain
2017-01-07         32.0        8.0    Rain
2017-01-08         34.0        8.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

Using linear Interpolate

In [ ]:
new_data3= new_data.interpolate()
new_data3

            temperature  windspeed   event
day
2017-01-01         32.0   6.000000    Rain
2017-01-04         30.0   9.000000   Sunny
2017-01-05         28.0   8.000000    Snow
2017-01-06         30.0   7.000000     NaN
2017-01-07         32.0   7.333333    Rain
2017-01-08         33.0   7.666667   Sunny
2017-01-10         34.0   8.000000  Cloudy
2017-01-11         40.0  12.000000   Sunny

Since Jan 1 and Jan 4 are far away compared to Jar 4 and Jan 5.....intepolating 30 for Jan 4 may look awkward

In [ ]:
new_data3= new_data.interpolate(method = 'time')
new_data3

            temperature  windspeed   event
day
2017-01-01    32.000000       6.00    Rain
2017-01-04    29.000000       9.00   Sunny
2017-01-05    28.000000       8.00    Snow
2017-01-06    30.000000       7.00     NaN
2017-01-07    32.000000       7.25    Rain
2017-01-08    32.666667       7.50   Sunny
2017-01-10    34.000000       8.00  Cloudy
2017-01-11    40.000000      12.00   Sunny

This makes temperature value of Jan 4 near Jan 5's temperature